<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Редагування товару</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input
          label="Назва"
          formControlName="name"
          labelPlacement="floating"
          [value]="product.getName()"
          errorText="Назва повинна містити тільки букви"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Вартість"
          formControlName="price"
          type="number"
          labelPlacement="floating"
          [value]="product.getPrice()"
          errorText="Ціна повинна бути більше за 0"
        >
        </ion-input>
      </ion-item>
      <fieldset *ngIf="product.getType() === types[0]">
        <ion-item>
          <ion-input
            label="Кількість продукту"
            formControlName="itemCount"
            type="number"
            labelPlacement="floating"
            errorText="Кількість продукту повинна бути більше за 0"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Вага"
            formControlName="weight"
            type="number"
            labelPlacement="floating"
            errorText="Вага повинна бути в діапазоні від 1 до 5"
          ></ion-input>
        </ion-item>
      </fieldset>
      <fieldset *ngIf="product.getType() === types[2]">
        <ion-item>
          <ion-input
            label="Матеріал"
            formControlName="material"
            labelPlacement="floating"
            errorText="Матеріал повинен бути містити букви"
          ></ion-input>
        </ion-item>
      </fieldset>
      <fieldset *ngIf="product.getType() === types[3]">
        <ion-item>
          <ion-input
            label="Автор"
            formControlName="author"
            labelPlacement="floating"
            errorText="Автор повинен бути містити букви"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Кількість сторінок"
            formControlName="pages"
            labelPlacement="floating"
            errorText="Кількість сторінок повинно бути більше за 0"
          ></ion-input>
        </ion-item>
      </fieldset>
    </ion-card-content>
  </ion-card>
  <ion-button type="submit">Submit</ion-button>
</form>
