<app-my-header></app-my-header>
<ion-content [fullscreen]="true">
  <ion-title class="center-title">Вибір товару</ion-title>
  <ion-card
    class="product-card"
    *ngFor="let product of productReadService.products"
  >
    <ion-card-header class="card-header">
      <ion-card-title
        >{{product.getName()}} №{{product.getID()}}</ion-card-title
      >
      <ion-card-subtitle>{{product.getType()}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="body">
      <ion-item *ngFor="let details of product.getDetails()">
        <ion-label>{{details}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Ціна: {{product.getPrice()}}грн</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button color="success">Додати в кошик</ion-button>
  </ion-card>
  <ion-title class="center-title">Упакувати товар</ion-title>
  <ion-card>
    <ion-item>
      <ion-input
        class="input-size"
        label="Номер товару"
        labelPlacement="stacked"
        type="number"
        id="a"
        min="1"
        max="20"
        #InputA
      ></ion-input>
    </ion-item>
    <ion-radio-group>
      <ion-item>
        <ion-label>Проста упаковка</ion-label>
        <ion-radio slot="start" value="option1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Преміальна упаковка</ion-label>
        <ion-radio slot="start" value="option2"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button>Упакувати</ion-button>
  </ion-card>
</ion-content>
