<ion-content [fullscreen]="true">
  <app-my-header></app-my-header>

  <!-- <ion-title class="center-title">Вибір типу товару</ion-title>
  <ion-item *ngFor="let type of productTypes">
    <ion-label>{{type}}</ion-label>
    <ion-checkbox
      slot="end"
      (ionChange)="handleCheckboxChange($event, type)"
      [checked]="selectedTypes.includes(type)"
    >
    </ion-checkbox>
  </ion-item> -->

  <ion-button (click)="addFormShow()">Додати подарунок</ion-button>
  <app-add-product
    *ngIf="showAddForm"
    (productAdd)="addProduct($event)"
  ></app-add-product>

  <ion-title class="center-title">Вибір товару</ion-title>
  <ion-card *ngFor="let product of filteredProducts; index as i">
    <ion-card-header class="card-header">
      <ion-card-title>{{product.getName()}}</ion-card-title>
      <ion-card-subtitle>{{product.getType()}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="body">
      <ion-item *ngFor="let details of product.getDetails()">
        <ion-label>{{details}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ціна: {{product.getPrice()}}грн</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button color="success" (click)="editFormShow(product.getID())"
      >Редагувати</ion-button
    >
    <app-edit-product
      *ngIf="showEditForm && product.getID() == editFormNumber"
      (productUpdated)="editProduct($event)"
      [product]="product"
    ></app-edit-product>

    <ion-button color="danger" (click)="deleteFormShow(product.getID())"
      >Видалити</ion-button
    >
    <app-delete-product
      *ngIf="showDeleteForm && product.getID() == deleteFormNumber"
      [product]="product"
      (productDeleted)="deleteProduct($event)"
      (cancel)="cancelDelete()"
    ></app-delete-product>
  </ion-card>
</ion-content>
